| Column           | Description                               | Type        | Notes                               |
| ---------------- | ----------------------------------------- | ----------- | ----------------------------------- |
| Status\_Checking | Status of checking account                | Categorical | Values: A11, A12, A13, A14          |
| Duration         | Duration of credit (months)               | Numeric     | Range: 4–72                         |
| CreditAmount     | Loan amount                               | Numeric     | Range: 250–18424                    |
| Purpose          | Loan purpose                              | Categorical | Values: car, radio, education, etc. |
| Age              | Age in years                              | Numeric     | 19–75                               |
| ...              | ...                                       | ...         | ...                                 |
| Default          | Target variable (1=default, 0=no default) | Binary      | Target                              |

In [5]:


import pandas as pd

#load data
df = pd.read_csv("../data/raw/german_credit_data.csv")

print(df.shape)
print(df.head())
print(df.info())
print(df.describe())

(1000, 10)
   Unnamed: 0  Age     Sex  Job Housing Saving accounts Checking account  \
0           0   67    male    2     own             NaN           little
1           1   22  female    2     own          little         moderate
2           2   49    male    1     own          little              NaN
3           3   45    male    2    free          little           little
4           4   53    male    2    free          little           little

   Credit amount  Duration              Purpose
0           1169         6             radio/TV
1           5951        48             radio/TV
2           2096        12            education
3           7882        42  furniture/equipment
4           4870        24                  car
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        1000 non-null   int64
 1   Age               1000 non-null   int64
 2   Sex               1000 non-null   object
 3   Job               1000 non-null   int64
 4   Housing           1000 non-null   object
 5   Saving accounts   817 non-null    object
 6   Checking account  606 non-null    object
 7   Credit amount     1000 non-null   int64
 8   Duration          1000 non-null   int64
 9   Purpose           1000 non-null   object
dtypes: int64(5), object(5)
memory usage: 78.3+ KB
None
        Unnamed: 0          Age          Job  Credit amount     Duration
count  1000.000000  1000.000000  1000.000000    1000.000000  1000.000000
mean    499.500000    35.546000     1.904000    3271.258000    20.903000
std     288.819436    11.375469     0.653614    2822.736876    12.058814
min       0.000000    19.000000     0.000000     250.000000     4.000000
25%     249.750000    27.000000     2.000000    1365.500000    12.000000
50%     499.500000    33.000000     2.000000    2319.500000    18.000000
75%     749.250000    42.000000     2.000000    3972.250000    24.000000
max     999.000000    75.000000     3.000000   18424.000000    72.000000

In [6]:
print(df.isnull().sum())

Unnamed: 0            0
Age                   0
Sex                   0
Job                   0
Housing               0
Saving accounts     183
Checking account    394
Credit amount         0
Duration              0
Purpose               0
dtype: int64